<%= button_to "New Scrape", new_scrape_path, class: "btn btn-info" %>

<table class= "table table-striped table-bordered" >
		<tr>
			<th>Scrape Date</th>
			<th>Options</th>
		<tr>

	<% @scrapes.each do |t| %>
		<tr>
			<td><%= link_to t.created_at.to_date, scrape_path(t.id) %></td>
			<td><%= button_to "Delete", delete_scrape_path(t.id), :confirm => "Sure you want to delete this scrape?", :method => :delete, class: "btn btn-danger" %></td>
		<tr>	
	<% end %>
</table>


